swagger: '2.0'
info:
  title: Yandex Ambassador CRM API
  description: Описание API endpoint for Yandex Ambassador. Автодокументация - https://ambassadorsyapractice.ru/docs
  license:
    name: MIT License
  version: v1
host: ambassadorsyapractice.ru
schemes:
- https
basePath: /api/v1
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  Token:
    type: Token
    name: Authorization
    in: header
security:
- Token: []
paths:
  /ambassador/:
    get:
      operationId: ambassador_list
      description: ''
      parameters:
      - name: status
        in: query
        description: status
        required: false
        type: string
      - name: search
        in: query
        description: search
        required: false
        type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Ambassador'
      tags:
      - ambassador
    post:
      operationId: ambassador_create
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/AmbassadorBotCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/AmbassadorBotCreate'
      tags:
      - ambassador
    parameters: []
  /ambassador/{id}/:
    get:
      operationId: ambassador_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Ambassador'
      tags:
      - ambassador
    put:
      operationId: ambassador_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/AmbassadorUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AmbassadorUpdate'
      tags:
      - ambassador
    patch:
      operationId: ambassador_partial_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/AmbassadorUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AmbassadorUpdate'
      tags:
      - ambassador
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Амбасадор.
      required: true
      type: string
      format: uuid
  /ambassador/{id}/merches/:
    get:
      operationId: ambassador_merches
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Ambassador'
      tags:
      - ambassador
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Амбасадор.
      required: true
      type: string
      format: uuid
  /ambassador/{id}/messages/:
    get:
      operationId: ambassador_messages
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Ambassador'
      tags:
      - ambassador
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Амбасадор.
      required: true
      type: string
      format: uuid
  /ambassador/{id}/reports/:
    get:
      operationId: ambassador_reports
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Ambassador'
      tags:
      - ambassador
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Амбасадор.
      required: true
      type: string
      format: uuid
  /auth/token/login:
    post:
      operationId: Obtain user authentication token
      description: Use this endpoint to obtain user authentication token.
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/TokenCreate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Token'
        '400':
          description: Не верные данные для авторизации
      tags:
      - Manager
    parameters: []
  /auth/token/logout:
    post:
      operationId: Remove user authentication token
      description: Use this endpoint to logout user (remove user authentication token).
      parameters: []
      responses:
        '204':
          description: Успешно
        '401':
          description: Не авторизированный пользователь
      tags:
      - Manager
    parameters: []
  /bot_message/:
    get:
      operationId: bot_message_list
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/BotMessageList'
      tags:
      - bot_message
    post:
      operationId: bot_message_create
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/BotMessagesCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/BotMessagesCreate'
      tags:
      - bot_message
    parameters: []
  /bot_message/{id}/:
    get:
      operationId: bot_message_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BotMessageList'
      tags:
      - bot_message
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Сообщение телеграм бота.
      required: true
      type: string
      format: uuid
  /merch_request/:
    get:
      operationId: merch_request_list
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/MerchRequest'
      tags:
      - merch_request
    parameters: []
  /report/:
    get:
      operationId: report_list
      description: ''
      parameters:
      - name: status
        in: query
        description: status
        required: false
        type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ReportList'
      tags:
      - report
    parameters: []
  /report/unread_reports/:
    get:
      operationId: report_unread_reports
      description: ''
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ReportList'
      tags:
      - report
    parameters: []
  /report/{id}/:
    get:
      operationId: report_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ReportList'
      tags:
      - report
    put:
      operationId: report_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/ReportUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ReportUpdate'
      tags:
      - report
    patch:
      operationId: report_partial_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/ReportUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ReportUpdate'
      tags:
      - report
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Отчет о задании.
      required: true
      type: string
      format: uuid
  /statistic/ambassador_program/:
    get:
      operationId: statistic_ambassador_program_list
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/AmbassadorProgram'
      tags:
      - statistic
    parameters: []
  /statistic/ambassador_status/:
    get:
      operationId: statistic_ambassador_status_list
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/AmbassadorStat'
      tags:
      - statistic
    parameters: []
  /telegram_user/:
    post:
      operationId: telegram_user_create
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/TelegramBotCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TelegramBotCreate'
      tags:
      - telegram_user
    parameters: []
  /utility/achievies:
    get:
      operationId: utility_achievies_list
      description: /api/v1/utility/achivies
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
  /utility/activities:
    get:
      operationId: utility_activities_list
      description: /api/v1/utility/activities
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
  /utility/ambassador_statuses:
    get:
      operationId: utility_ambassador_statuses_list
      description: /api/v1/utility/ambassador_statuses
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
  /utility/delivery_statuses:
    get:
      operationId: utility_delivery_statuses_list
      description: /api/v1/utility/delivery_statuses
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
  /utility/goals:
    get:
      operationId: utility_goals_list
      description: /api/v1/utility/goals
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
  /utility/message_statuses:
    get:
      operationId: utility_message_statuses_list
      description: /api/v1/utility/message_statuses
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
  /utility/message_types:
    get:
      operationId: utility_message_types_list
      description: /api/v1/utility/message_types
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
  /utility/placements:
    get:
      operationId: utility_placements_list
      description: /api/v1/utility/placements
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
  /utility/pool_messages:
    get:
      operationId: utility_pool_messages_list
      description: /api/v1/utility/pool_messages
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
  /utility/programs:
    get:
      operationId: utility_programs_list
      description: /api/v1/utility/programs
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
  /utility/report_statuses:
    get:
      operationId: utility_report_statuses_list
      description: /api/v1/utility/report_statuses
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
  /utility/report_types:
    get:
      operationId: utility_report_types_list
      description: /api/v1/utility/report_types
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - utility
    parameters: []
definitions:
  TelegramBot:
    required:
    - telegram_id
    - nickname
    - registration_date
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      telegram_id:
        title: Telegram chat ID
        type: string
        maxLength: 100
        minLength: 1
      nickname:
        title: Telegram Username
        type: string
        maxLength: 200
        minLength: 1
      registration_date:
        title: Дата запуска бота пользователем
        type: string
        format: date-time
      active:
        title: Активный?
        type: boolean
  AmbassadorStatus:
    required:
    - status_name
    - sort_level
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      status_name:
        title: Статус амбассадора
        type: string
        maxLength: 200
        minLength: 1
      sort_level:
        title: Уровень сортировки
        type: integer
      available:
        title: Доступность
        type: boolean
  Program:
    required:
    - program_name
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      program_name:
        title: Название программы обучения
        type: string
        maxLength: 200
        minLength: 1
      available:
        title: Доступна
        type: boolean
  Activity:
    required:
    - activity_name
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      activity_name:
        title: Вид деятельности
        type: string
        maxLength: 200
        minLength: 1
      available:
        title: Доступность
        type: boolean
  Achieve:
    required:
    - achieve_name
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      achieve_name:
        title: Название ачивки
        type: string
        maxLength: 200
        minLength: 1
      available:
        title: Доступна
        type: boolean
  Ambassador:
    required:
    - telegram_bot
    - status
    - address_country
    - address_settlement
    - email
    - blog_link
    - place_work
    - specialty_work
    - educational_institution
    - first_name
    - last_name
    - gender
    - birthday
    - programs
    - activity
    - achieves
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      telegram_bot:
        $ref: '#/definitions/TelegramBot'
      status:
        $ref: '#/definitions/AmbassadorStatus'
      manager:
        title: Менеджер
        type: integer
        x-nullable: true
      promocode:
        title: Промокод
        type: string
        maxLength: 255
        x-nullable: true
      receipt_date:
        title: Дата принятия в амбассадоры
        type: string
        format: date
        x-nullable: true
      reminder_counter:
        title: Счетчик напоминалок
        type: integer
      address_country:
        title: Страна
        type: string
        maxLength: 50
        minLength: 1
      address_index:
        title: Индекс
        type: string
        maxLength: 10
        x-nullable: true
      address_region:
        title: Регион
        type: string
        maxLength: 50
        x-nullable: true
      address_district:
        title: Район
        type: string
        maxLength: 50
        x-nullable: true
      address_settlement:
        title: Населённый пункт
        type: string
        maxLength: 50
        minLength: 1
      address_street:
        title: Улица
        type: string
        maxLength: 50
        x-nullable: true
      address_house:
        title: Дом
        type: integer
      address_building:
        title: Корпус
        type: string
        maxLength: 10
        x-nullable: true
      address_apartment:
        title: Квартира
        type: string
        maxLength: 10
        x-nullable: true
      size_clothing:
        title: Размер одежды
        type: string
        maxLength: 2
        x-nullable: true
      size_choe:
        title: Размер обуви
        type: integer
      email:
        title: Электронная почта
        type: string
        format: email
        maxLength: 254
        minLength: 1
      note:
        title: Заметка
        type: string
        maxLength: 200
        x-nullable: true
      blog_link:
        title: Ссылка на блог
        type: string
        format: uri
        maxLength: 200
        minLength: 1
      place_work:
        title: Место работы
        type: string
        maxLength: 200
        minLength: 1
      specialty_work:
        title: Должность
        type: string
        maxLength: 100
        minLength: 1
      educational_institution:
        title: Учебное заведение
        type: string
        maxLength: 200
        minLength: 1
      first_name:
        title: Имя
        type: string
        maxLength: 50
        minLength: 1
      last_name:
        title: Фамилия
        type: string
        maxLength: 50
        minLength: 1
      middle_name:
        title: Отчество
        type: string
        maxLength: 50
        x-nullable: true
      gender:
        title: Пол
        type: string
        maxLength: 50
        minLength: 1
      birthday:
        title: Дата рождения
        type: string
        format: date
      programs:
        type: array
        items:
          $ref: '#/definitions/Program'
      goals:
        title: Goals
        type: string
        readOnly: true
      activity:
        type: array
        items:
          $ref: '#/definitions/Activity'
      achieves:
        type: array
        items:
          $ref: '#/definitions/Achieve'
      phone:
        title: Телефон
        type: string
        maxLength: 20
        x-nullable: true
  AmbassadorBotCreate:
    required:
    - telegram_id
    - first_name
    - last_name
    - gender
    - birthday
    - programs
    - goal
    - email
    - address_country
    - address_settlement
    type: object
    properties:
      telegram_id:
        title: Telegram id
        type: string
        maxLength: 100
        minLength: 1
      first_name:
        title: First name
        type: string
        maxLength: 50
        minLength: 1
      last_name:
        title: Last name
        type: string
        maxLength: 50
        minLength: 1
      middle_name:
        title: Middle name
        type: string
        maxLength: 50
        minLength: 1
      gender:
        title: Gender
        type: string
        maxLength: 50
        minLength: 1
      birthday:
        title: Birthday
        type: string
        format: date
      programs:
        type: array
        items:
          type: string
          format: uuid
      goal:
        title: Goal
        type: string
        format: uuid
      phone:
        title: Phone
        type: string
        maxLength: 20
        minLength: 1
      email:
        title: Email
        type: string
        format: email
        minLength: 1
      size_clothing:
        title: Size clothing
        type: string
        maxLength: 2
        minLength: 1
      size_choe:
        title: Size choe
        type: integer
        default: 0
      address_index:
        title: Address index
        type: string
        maxLength: 10
        minLength: 1
      address_country:
        title: Address country
        type: string
        maxLength: 50
        minLength: 1
      address_region:
        title: Address region
        type: string
        maxLength: 50
        minLength: 1
      address_district:
        title: Address district
        type: string
        maxLength: 50
        minLength: 1
      address_settlement:
        title: Address settlement
        type: string
        maxLength: 50
        minLength: 1
      address_street:
        title: Address street
        type: string
        maxLength: 50
        minLength: 1
      address_house:
        title: Address house
        type: integer
        minimum: 0
      address_building:
        title: Address building
        type: string
        maxLength: 10
        minLength: 1
      address_apartment:
        title: Address apartment
        type: string
        maxLength: 10
        minLength: 1
      promocode:
        title: Promocode
        type: string
        maxLength: 255
        minLength: 1
      own_version:
        title: Own version
        type: string
        maxLength: 250
        minLength: 1
  AmbassadorUpdate:
    required:
    - status
    - address_country
    - address_settlement
    - email
    - blog_link
    - place_work
    - specialty_work
    - educational_institution
    - first_name
    - last_name
    - gender
    - birthday
    - programs
    - goals
    type: object
    properties:
      status:
        title: Статус
        type: string
        format: uuid
      manager:
        title: Менеджер
        type: integer
        x-nullable: true
      promocode:
        title: Промокод
        type: string
        maxLength: 255
        x-nullable: true
      receipt_date:
        title: Дата принятия в амбассадоры
        type: string
        format: date
        x-nullable: true
      reminder_counter:
        title: Счетчик напоминалок
        type: integer
      address_country:
        title: Страна
        type: string
        maxLength: 50
        minLength: 1
      address_index:
        title: Индекс
        type: string
        maxLength: 10
        x-nullable: true
      address_region:
        title: Регион
        type: string
        maxLength: 50
        x-nullable: true
      address_district:
        title: Район
        type: string
        maxLength: 50
        x-nullable: true
      address_settlement:
        title: Населённый пункт
        type: string
        maxLength: 50
        minLength: 1
      address_street:
        title: Улица
        type: string
        maxLength: 50
        x-nullable: true
      address_house:
        title: Дом
        type: integer
      address_building:
        title: Корпус
        type: string
        maxLength: 10
        x-nullable: true
      address_apartment:
        title: Квартира
        type: string
        maxLength: 10
        x-nullable: true
      size_clothing:
        title: Размер одежды
        type: string
        maxLength: 2
        x-nullable: true
      size_choe:
        title: Размер обуви
        type: integer
      email:
        title: Электронная почта
        type: string
        format: email
        maxLength: 254
        minLength: 1
      note:
        title: Заметка
        type: string
        maxLength: 200
        x-nullable: true
      blog_link:
        title: Ссылка на блог
        type: string
        format: uri
        maxLength: 200
        minLength: 1
      place_work:
        title: Место работы
        type: string
        maxLength: 200
        minLength: 1
      specialty_work:
        title: Должность
        type: string
        maxLength: 100
        minLength: 1
      educational_institution:
        title: Учебное заведение
        type: string
        maxLength: 200
        minLength: 1
      first_name:
        title: Имя
        type: string
        maxLength: 50
        minLength: 1
      last_name:
        title: Фамилия
        type: string
        maxLength: 50
        minLength: 1
      middle_name:
        title: Отчество
        type: string
        maxLength: 50
        x-nullable: true
      gender:
        title: Пол
        type: string
        maxLength: 50
        minLength: 1
      birthday:
        title: Дата рождения
        type: string
        format: date
      programs:
        type: array
        items:
          type: string
          format: uuid
      goals:
        title: Goals
        type: string
        format: uuid
      activity:
        type: array
        items:
          type: string
          format: uuid
      achieves:
        type: array
        items:
          type: string
          format: uuid
      phone:
        title: Телефон
        type: string
        maxLength: 20
        x-nullable: true
      own_version:
        title: Own version
        type: string
        maxLength: 250
        minLength: 1
  TokenCreate:
    type: object
    properties:
      password:
        title: Password
        type: string
        minLength: 1
      email:
        title: Email
        type: string
        minLength: 1
  Token:
    required:
    - auth_token
    type: object
    properties:
      auth_token:
        title: Auth token
        type: string
        minLength: 1
  MessageType:
    required:
    - type_name
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      type_name:
        title: Тип сообщения
        type: string
        maxLength: 200
        minLength: 1
      available:
        title: Доступность
        type: boolean
  Message:
    required:
    - message_text
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      message_text:
        title: Текст сообщения
        type: string
        maxLength: 250
        minLength: 1
      media_link:
        title: Медиа файл
        type: string
        readOnly: true
        x-nullable: true
        format: uri
      date:
        title: Дата сообщения
        type: string
        format: date-time
        x-nullable: true
      message_type:
        $ref: '#/definitions/MessageType'
  AmbassadorShort:
    required:
    - status
    - email
    - first_name
    - last_name
    - gender
    - birthday
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      status:
        $ref: '#/definitions/AmbassadorStatus'
      manager:
        title: Менеджер
        type: integer
        x-nullable: true
      promocode:
        title: Промокод
        type: string
        maxLength: 255
        x-nullable: true
      receipt_date:
        title: Дата принятия в амбассадоры
        type: string
        format: date
        x-nullable: true
      reminder_counter:
        title: Счетчик напоминалок
        type: integer
      email:
        title: Электронная почта
        type: string
        format: email
        maxLength: 254
        minLength: 1
      first_name:
        title: Имя
        type: string
        maxLength: 50
        minLength: 1
      last_name:
        title: Фамилия
        type: string
        maxLength: 50
        minLength: 1
      middle_name:
        title: Отчество
        type: string
        maxLength: 50
        x-nullable: true
      gender:
        title: Пол
        type: string
        maxLength: 50
        minLength: 1
      birthday:
        title: Дата рождения
        type: string
        format: date
      phone:
        title: Телефон
        type: string
        maxLength: 20
        x-nullable: true
      size_clothing:
        title: Размер одежды
        type: string
        maxLength: 2
        x-nullable: true
      size_choe:
        title: Размер обуви
        type: integer
      note:
        title: Заметка
        type: string
        maxLength: 200
        x-nullable: true
  Manager:
    required:
    - first_name
    - last_name
    - email
    - username
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      first_name:
        title: Имя
        type: string
        maxLength: 255
        minLength: 1
      last_name:
        title: Фамилия
        type: string
        maxLength: 255
        minLength: 1
      middle_name:
        title: Отчество
        type: string
        maxLength: 255
        x-nullable: true
      email:
        title: Email
        type: string
        format: email
        maxLength: 254
        minLength: 1
      username:
        title: Имя пользователя
        type: string
        maxLength: 150
        minLength: 1
  BotMessageList:
    required:
    - message
    - ambassador
    - manager
    - sign_ai
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      message:
        $ref: '#/definitions/Message'
      ambassador:
        $ref: '#/definitions/AmbassadorShort'
      manager:
        $ref: '#/definitions/Manager'
      sign_ai:
        title: Искусственный интеллект
        type: boolean
      message_telegram_id:
        title: Номер сообщения в телеграм
        type: string
        maxLength: 50
      reaction:
        title: Реация на сообщение
        type: integer
        enum:
        - -1
        - 0
        - 1
  BotMessagesCreate:
    required:
    - message_text
    type: object
    properties:
      message_text:
        title: Message text
        type: string
        maxLength: 250
        minLength: 1
      ambassadors:
        type: array
        items:
          type: string
          format: uuid
  Merch:
    required:
    - merch_name
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      merch_name:
        title: Название мерча
        type: string
        maxLength: 200
        minLength: 1
      price:
        title: Цена
        type: string
        format: decimal
      intangible:
        title: Признак нематериального мерча
        type: boolean
      available:
        title: Доступен мерч
        type: boolean
  DeliveryStatus:
    required:
    - status_name
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      status_name:
        title: Статус доставки
        type: string
        maxLength: 200
        minLength: 1
      available:
        title: Доступность
        type: boolean
  DeliveryAddress:
    required:
    - index
    - settlement
    - house
    - country
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      is_confirmed:
        title: Адрес подтвержден?
        type: boolean
      index:
        title: Почтовый индекс
        description: Укажите шестизначный почтовый индекс.
        type: string
        maxLength: 255
        minLength: 1
      region:
        title: Область
        description: Введите название области или края.
        type: string
        maxLength: 255
      district:
        title: Район
        description: Заполните название района, округа или города.
        type: string
        maxLength: 255
      settlement:
        title: Населенный пункт
        description: Укажите название поселка, села, деревни или города
        type: string
        maxLength: 255
        minLength: 1
      street:
        title: Улица
        description: Введите название улицы или проспекта.
        type: string
        maxLength: 255
      house:
        title: Дом
        description: Заполните номер дома.
        type: string
        maxLength: 255
        minLength: 1
      building:
        title: Корпус
        description: Укажите номер корпуса (если есть).
        type: string
        maxLength: 255
      country:
        title: Страна
        description: Укажите страну
        type: string
        maxLength: 255
        minLength: 1
      apartment:
        title: Квартира
        description: Заполните номер квартиры (если есть).
        type: string
        maxLength: 255
  MerchRequest:
    required:
    - merch
    - manager
    - request_status
    - delivery_address
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      merch:
        $ref: '#/definitions/Merch'
      manager:
        $ref: '#/definitions/Manager'
      request_status:
        $ref: '#/definitions/DeliveryStatus'
      delivery_address:
        $ref: '#/definitions/DeliveryAddress'
      ambassadors:
        title: Ambassadors
        type: string
        readOnly: true
  Placement:
    required:
    - site
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      site:
        title: Площадка размещения контента
        type: string
        maxLength: 200
        minLength: 1
      available:
        title: Доступность
        type: boolean
  ReportStatus:
    required:
    - status_name
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      status_name:
        title: Статус отчета
        type: string
        maxLength: 200
        minLength: 1
      available:
        title: Доступность
        type: boolean
  ReportType:
    required:
    - type_name
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      type_name:
        title: Вид задания
        type: string
        maxLength: 200
        minLength: 1
      available:
        title: Доступность
        type: boolean
  ReportList:
    required:
    - ambassador
    - report_date
    - content_link
    - placement
    - report_status
    - report_type
    type: object
    properties:
      id:
        title: ID Отчета
        type: string
        format: uuid
        readOnly: true
      ambassador:
        $ref: '#/definitions/AmbassadorShort'
      report_date:
        title: Дата отчета
        type: string
        format: date
      content_link:
        title: Ссылка на контент
        description: Добавьте ссылку на контент
        type: string
        format: uri
        maxLength: 200
        minLength: 1
      screen:
        title: Скриншот
        type: string
        readOnly: true
        x-nullable: true
        format: uri
      placement:
        $ref: '#/definitions/Placement'
      report_status:
        $ref: '#/definitions/ReportStatus'
      sign_junior:
        title: Начинающий амбассадор?
        type: boolean
      grade:
        title: Grade
        type: integer
      report_type:
        $ref: '#/definitions/ReportType'
  ReportUpdate:
    type: object
    properties:
      report_status:
        title: Report status
        type: string
        format: uuid
        x-nullable: true
      grade:
        title: Grade
        type: integer
  AmbassadorProgram:
    required:
    - program_name
    - count
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      program_name:
        title: Название программы обучения
        type: string
        maxLength: 200
        minLength: 1
      available:
        title: Доступна
        type: boolean
      count:
        title: Count
        type: integer
  AmbassadorStat:
    required:
    - status_name
    - sort_level
    - count
    type: object
    properties:
      id:
        title: Id
        type: string
        format: uuid
        readOnly: true
      status_name:
        title: Статус амбассадора
        type: string
        maxLength: 200
        minLength: 1
      sort_level:
        title: Уровень сортировки
        type: integer
      available:
        title: Доступность
        type: boolean
      count:
        title: Count
        type: integer
  TelegramBotCreate:
    required:
    - telegram_id
    - nickname
    type: object
    properties:
      telegram_id:
        title: Telegram id
        type: string
        maxLength: 100
        minLength: 1
      nickname:
        title: Nickname
        type: string
        maxLength: 200
        minLength: 1
      registration_date:
        title: Registration date
        type: string
        format: date-time
        default: '2024-03-10T21:35:59.265559Z'
